.mg-editable {
  height: 100%;
  width: 100%;
}
.mg-editable > div[contenteditable=true] {
  background: #f1f1f1;
}
.mg-editable .tools {
  display: block;
  float: right;
}
.mg-editable .tools .button {
  display: block;
  float: left;
  padding: 3px;
  background: #f1f1f1;
  cursor: pointer;
  color: #fff;
}
.mg-editable .tools .button:hover {
  color: #333;
}
.mg-editable .tools.hidden {
  display: none;
}
.mg-editable .tools.hidden:hover {
  background: #f1f1f1;
  display: block;
}
