@import "defaults.styl"

mg-nav.right .mg-nav
  float right

.mg-nav
  display block
  float left
  height 100%
  line-height 60px

  > a
    text-decoration none
    color black
    text-transform uppercase
    padding-bottom 10px
    padding-left 15px
    padding-right 15px
    //border-bottom 2px solid grey

    &:hover
      border-bottom 2px solid #eeeeee

    &.active
      border-bottom 2px solid #4898e9
