mg-modal-background = #fafafa
mg-modal-separator = 1px dashed #dddddd
mg-modal-header-background = mg-modal-background
mg-modal-footer-background = mg-modal-background
mg-modal-header-separator = mg-modal-separator
mg-modal-footer-separator = mg-modal-separator

.mg-modal-header
  width calc(100% - 10px)
  display block
  float left
  height 40px
  background mg-modal-header-background
  padding 5px
  line-height 40px
  border-bottom mg-modal-header-separator

.mg-modal-footer
  width calc(100% - 10px)
  display block
  float left
  height 40px
  background mg-modal-footer-background
  padding 5px
  border-top mg-modal-footer-separator


.mg-modal-body
  width calc(100% - 10px)
  display block
  float left
  background white
  padding 5px
  line-height 40px

