@import "../defaults"

$mg-button-bar-button-width := 20px
$mg-button-bar-button-height := 20px
$mg-button-bar-button-color := $color-default-reverse
$mg-button-bar-button-background-color := $color-default
$mg-button-bar-button-background-color-hover := $color-default-dark

$active-mg-button-bar-button-color := $color-highlight-reverse
$active-mg-button-bar-button-background-color := $color-highlight
$active-mg-button-bar-button-background-color-hover := $color-highlight-dark
$active-mg-button-bar-button-color-hover := $color-highlight-darkest
