.mg-button-bar-button {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #3ba2d8;
  margin-left: 5px;
  margin-top: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  display: block;
  float: left;
  padding: 1px;
}
.mg-button-bar-button.active {
  color: #333;
  background-color: #fff2e4;
}
.mg-button-bar-button:hover {
  cursor: pointer;
  background-color: #2585b7;
}
.mg-button-bar-button:hover.active {
  background-color: #ffc383;
  color: #f17d00;
}
