mg-spinner-size = 10px
mg-spinner-line-size = 8px
mg-spinner-offset = mg-spinner-size / 2 + mg-spinner-line-size
mg-spinner-color = rgba(255, 255, 255, 0.8);
mg-spinner-accent-color = #3582ff

mg-round-spinner-line-size = mg-spinner-line-size
mg-round-spinner-offset = mg-round-spinner-line-size * 2
mg-round-spinner-color = mg-spinner-color
mg-round-spinner-accent-color = mg-spinner-accent-color


.mg-img-round
  background-size cover
  background-repeat no-repeat
  background-position center center
  height 100%
  width 100%
  border-radius 50%
  text-align center
  line-height 100px

  mg-spinner
    width 100%
    height 100%
    display block

.mg-img
  width 100%
  height 100%
  background-size cover
  background-repeat no-repeat
  background-position center center

  mg-spinner
    //width 100%
    //height 100%
    display block
    //background mediumpurple
