.mg-button {
  background-color: #eee;
  border: 1px solid #bebebe;
  font-weight: 400;
  color: #333;
  height: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
}
.mg-button:disabled {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(230,230,230,0.1) 25%, transparent 25%, transparent 50%, rgba(230,230,230,0.1) 50%, rgba(230,230,230,0.1) 75%, transparent 75%, transparent);
  animation: mg-button-background-animation 0.5s linear infinite;
}
.mg-button:enabled {
  cursor: pointer;
}
.mg-button:hover:enabled {
  background: #e2e2e2;
}
.mg-button:active:enabled {
  background-color: #bebebe;
}
.mg-button:active:enabled.processing {
  background-color: #9dd1ec;
  border: 1px solid #2585b7;
}
mg-button.default .mg-button {
  background-color: #3ba2d8;
  color: #fff;
  border: 1px solid 1px solid #2585b7;
}
mg-button.default .mg-button:hover:enabled {
  background: #309dd6;
}
mg-button.default .mg-button:active:enabled {
  background-color: #2585b7;
}
mg-button.danger .mg-button {
  background-color: #ff4500;
  color: #fff;
  border: 1px solid #cc3700;
}
mg-button.danger .mg-button:hover:enabled {
  background: #f24200;
}
mg-button.danger .mg-button:active:enabled {
  background-color: #cc3700;
}
mg-button.danger .mg-button:disabled {
  background: $button-color-danger-active;
}
mg-button.success .mg-button {
  background-color: #0dac31;
  border: 1px solid #0a8a27;
}
mg-button.success .mg-button:active:enabled {
  background-color: #0a8a27;
}
mg-button.warning .mg-button {
  background-color: #ffa500;
  border: 1px solid #cc8400;
}
mg-button.warning .mg-button:active:enabled {
  background-color: #cc8400;
}
@-moz-keyframes mg-button-background-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@-webkit-keyframes mg-button-background-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@-o-keyframes mg-button-background-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes mg-button-background-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
