@import ".."

// Colors
// ----------------------------------------------

$color-normal := black
$color-normal-reverse := #ffffff
$color-normal-dark := darken($color-normal, 20%)
$color-normal-light := lighten($color-normal, 20%)
$color-normal-darkest := darken($color-normal, 50%)
$color-normal-lightest := lighten($color-normal, 50%)

$color-base := #eeeeee
$color-base-reverse := #333333
$color-base-dark := darken($color-base, 20%)
$color-base-light := lighten($color-base, 20%)
$color-base-darkest := darken($color-base, 50%)
$color-base-lightest := lighten($color-base, 50%)

$color-success := #0dac31
$color-success-reverse := white
$color-success-dark := darken($color-success, 20%)
$color-success-light := lighten($color-success, 20%)
$color-success-darkest := darken($color-success, 50%)
$color-success-lightest := lighten($color-success, 50%)

$color-warning := orange
$color-warning-reverse := white
$color-warning-dark := darken($color-warning, 20%)
$color-warning-light := lighten($color-warning, 20%)
$color-warning-darkest := darken($color-warning, 50%)
$color-warning-lightest := lighten($color-warning, 50%)

$color-danger := orangered
$color-danger-reverse := white
$color-danger-dark := darken($color-danger, 20%)
$color-danger-light := lighten($color-danger, 20%)
$color-danger-darkest := darken($color-danger, 50%)
$color-danger-lightest := lighten($color-danger, 50%)

$color-default := #3ba2d8
$color-default-reverse := white
$color-default-dark := darken($color-default, 20%)
$color-default-light := lighten($color-default, 20%)
$color-default-darkest := darken($color-default, 50%)
$color-default-lightest := lighten($color-default, 50%)

$color-highlight := #fff2e4
$color-highlight-reverse := #333333
$color-highlight-dark := darken($color-highlight, 20%)
$color-highlight-light := lighten($color-highlight, 20%)
$color-highlight-darkest := darken($color-highlight, 50%)
$color-highlight-lightest := lighten($color-highlight, 50%)

$color-alert := #d858bd
$color-alert-reverse := white
$color-alert-dark := darken($color-alert, 20%)
$color-alert-light := lighten($color-alert, 20%)
$color-alert-darkest := darken($color-alert, 50%)
$color-alert-lightest := lighten($color-alert, 50%)

// Sizes
// ----------------------------------------------
